/* ---------------------------------------STYLE-1---------------------------------------------- */

body.style-1 header {
    font-family: Verdana;
    font-size: 20px;
    color: #f1f1f1;
    background-color: #4caf50;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
body.style-1 section {
    display: flex;
    flex-direction: row;
}
body.style-1 ul {
    margin-left: -30px;
    font-family: Verdana;
    font-size: 20px;
    list-style: none;
    background-color: #f1f1f1;
}
body.style-1 li {
    padding: 5px;
    width: 150px;
    border: 1px solid #d4d4d4;
    text-align: left;
}
body.style-1 li:hover {
    background-color: #4caf50;
}
body.style-1 a {
    text-decoration: none;
    color: #000000;
}
body.style-1 li:hover a {
    color: #ffffff;
    background-color: #4caf50;
}
body.style-1 main {
    font-family: Verdana;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}
body.style-1 aside {
    font-family: Verdana;
    font-size: 18px;
    color: #f1f1f1;
    background-color: #32a4e7;
    border-radius: 5px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 275px;
    text-align: left;
}
body.style-1 footer {
    font-family: Verdana;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #d4d4d4;
    background-color: #f1f1f1;
    text-align: center;
}

/* ---------------------------------------------------STYLE-2------------------------------------------ */

body.style-2 div {
    background-color: #d14836;
}
body.style-2 header {
    font-family: Arial;
    font-size: 30px;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}
body.style-2 section {
    font-family: Arial;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: #ffffff;
}
body.style-2 h2 {
    font-size: 27px;
    color: #d14836;
}
body.style-2 main {
    font-size: 18px;
}
body.style-2 ul {
    float: right;
    font-family: Arial;
    font-size: 20px;
    list-style: none;
}
body.style-2 li {
    padding: 5px;
    width: 150px;
    text-align: center;
    border-radius: 20px;
    background-color: #d14836;
    border: 1px solid #d14836;
}
body.style-2 a {
    text-decoration: none;
    color: #ffffff;
}
body.style-2 li:first-child {
    margin-bottom: 5px;
}
body.style-2 li:nth-child(2n) {
    margin-bottom: 5px;
}
body.style-2 li:nth-child(3n) {
    margin-bottom: 5px;
}
body.style-2 li:hover {
    background-color: #ffffff;
    border: 1px solid #d14836;
}
body.style-2 li:hover a {
    color: #d14836;
    background-color: #ffffff;
}
body.style-2 aside {
    color: #d14836;
    background-color: #f6dad7;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
}
body.style-2 footer {
    font-family: Arial;
    font-size: 13px;
    color: #f6dad7;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
}

/* -----------------------------------------------STYLE-3---------------------------------------------------- */

body.style-3 header {
    font-family: Verdana;
    font-size: 18px;
    color: #4caf50;
}
body.style-3 section {
    font-family: Verdana;
    display: flex;
    flex-direction: column;
}
body.style-3 ul {
    font-size: 18px;
    margin-left: -30px;
    list-style: none;
}
body.style-3 li {
    float: left;
    padding: 10px;
    width: 150px;
    background-color: #555555;
    text-align: center;
}
body.style-3 a {
    text-decoration: none;
    color: #ffffff;
}
body.style-3 li:first-child {
    margin-right: 5px;
}
body.style-3 li:nth-child(2n) {
    margin-right: 5px;
}
body.style-3 li:nth-child(3n) {
    margin-right: 5px;
}
body.style-3 li:hover {
    background-color: #4caf50;
}
body.style-3 h2 {
    color: #4caf50;
    font-size: 27px;
}
body.style-3 main {
    font-size: 18px;
}
body.style-3 aside {
    font-size: 18px;
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
body.style-3 footer {
    font-family: Verdana;
    font-size: 15px;
    padding-top: 20px;
    text-align: center;
}